@using Force.App.Util;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (@ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] - 后台系统</title>
    }
    else
    {
        <title>后台系统</title>
    }
    <environment names="Development,Staging,Production">

        <!--模板资源-->
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/pace/pace.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/pace/themes/pace-theme-flash.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/css/google-fonts.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/font-awesome/css/font-awesome.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/simple-line-icons/simple-line-icons.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap/css/bootstrap.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="~/js/plugins/daterangepicker/daterangepicker.css?v=1.0" rel="stylesheet" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/uniform/css/uniform.default.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/fullcalendar/fullcalendar.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/datatables/datatables.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-up.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/clockface/css/clockface.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-multi-select/css/multi-select.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/select2/css/select2.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/select2/css/select2-bootstrap.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jstree/dist/themes/default/style.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/css/components.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" id="style_components" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/css/plugins.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/layouts/layout/css/layout.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/layouts/layout/css/themes/default.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" id="style_color" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/layouts/layout/css/custom.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-toastr/toastr.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/morris/morris.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />

        @*<link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" /> *@  @*目前暂未使用*@
        <!--模板资源结束-->
        <!--本地资源-->
        <link href="~/css/site.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" />
        <link href="~/css/tablecommon.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" />
        <!--本地资源结束-->
    </environment>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        @await Component.InvokeAsync("Head")
        <div class="clearfix"> </div>
        <div class="page-container">
            @await Component.InvokeAsync("Menu")
            @RenderBody()
        </div>

        @await Html.PartialAsync("_Footer")

        <!--[if lt IE 9]>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/respond.min.js"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
        <!--本地资源-->
        <script src="~/lib/modules.manager.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <script src="~/lib/emuns.module.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <script src="~/lib/async.caller.module.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <!--本地资源结束-->
        <!--模板资源-->
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap/js/bootstrap.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/js.cookie.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery.blockui.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/uniform/jquery.uniform.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/scripts/datatable.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/datatables/datatables-one-up.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-validation/js/jquery.validate.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-validation/js/additional-methods.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/moment.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/clockface/js/clockface.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="~/js/plugins/fileinput/fileinput.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/fullcalendar/fullcalendar.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-markdown/lib/markdown.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-summernote/summernote.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="~/js/jquery.quicksearch.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/counterup/jquery.waypoints.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/counterup/jquery.counterup.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-toastr/toastr.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/select2/js/select2.full.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/fuelux/js/spinner.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jstree/dist/jstree.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/scripts/app.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/update/BaseFuntion.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/apps/scripts/calendar.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/pages/scripts/components-date-time-pickers.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/pages/scripts/ui-confirmations.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/layouts/layout/scripts/layout.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/layouts/layout/scripts/demo.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/layouts/global/scripts/quick-sidebar.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <!--模板资源结束-->
        <!--配置和公用函数初始化-->
        <script src="~/js/cache/cache.js?v=1.0"></script>
        <script src="~/js/mainInit.js?v=1.0"></script>
        <script src="~/js/config/appsettings.js?v=@ConfigurationManager.AppSettings["Version"]&environment=@ConfigurationManager.AppSettings["Environment"]"></script>
        <!--配置和公用函数初始化结束-->
        <!--时间插件初始化-->
        <script src="~/js/plugins/daterangepicker/libs/moment.js/2.22.1/moment.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <script src="~/js/plugins/daterangepicker/datepickerInit.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <!--时间插件初始化结束-->

        <script type="text/javascript">
            $(function () {
                var href = window.location.pathname;
                // alert(href);
                $(".nav-item a").each(function () {
                    var url = $(this).attr("href");
                    //alert(url);
                    $(this).parent("li").removeClass("active");
                    $(this).parent("li").removeClass("open");
                    $(this).parent().parent().parent("li").removeClass("active");
                    $(this).parent().parent().parent("li").removeClass("open");
                    $(this).parent().parent().parent("li").find(".arrow").removeClass("open");
                    if (href.toLowerCase() == url.toLowerCase()) {
                        //alert($(this).parent("li").text());
                        $(this).parent("li").addClass("active");
                        $(this).parent("li").addClass("open");
                        $(this).parent().parent().parent("li").addClass("active");
                        $(this).parent().parent().parent("li").addClass("open");
                        $(this).parent().parent().parent("li").find(".arrow").addClass("open");
                        return false;
                    }
                });
            });
        </script>
    </div>

</body>
</html>
