@using Force.App.Util;
@{
    Layout = null;
}
<!DOCTYPE html>
<hXtml>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>登录 - 后台系统</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/css/google-fonts.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/font-awesome/css/font-awesome.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/simple-line-icons/simple-line-icons.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap/css/bootstrap.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/uniform/css/uniform.default.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/select2/css/select2.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/select2/css/select2-bootstrap.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/css/components.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" id="style_components" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/css/plugins.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/pages/css/login-4.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <link href="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-toastr/toastr.min.css?v=@ConfigurationManager.AppSettings["Version"]" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
    </head>
    <!-- END HEAD -->
    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="#">
                <img src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/pages/img/logo-big.png" alt="" />
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" action="/Login/UserLogin" method="post">
                <h3 class="form-title">登录到你的账户</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> 请输入登录账号和密码. </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" id="Account" maxlength="50" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" id="Password" maxlength="50" />
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox">
                        @*<input type="checkbox" name="remember" value="1" /> 记住密码*@
                    </label>
                    <button type="button" id="btnLogin" class="btn green pull-right"> 登录 </button>
                </div>
                <div class="login-options hidden">
                    <h4>Or login with</h4>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
                        </li>
                        <li>
                            <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
                        </li>
                        <li>
                            <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
                        </li>
                        <li>
                            <a class="linkedin" data-original-title="Linkedin" href="javascript:;"> </a>
                        </li>
                    </ul>
                </div>
            </form>
            <!-- END LOGIN FORM -->
        </div>
        <!-- END LOGIN -->
        <!-- BEGIN COPYRIGHT -->
        <div class="copyright"> @DateTime.Now.Year &copy; 后台管理 </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN CORE PLUGINS -->
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap/js/bootstrap.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/js.cookie.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery.blockui.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/uniform/jquery.uniform.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-validation/js/jquery.validate.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/jquery-validation/js/additional-methods.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/select2/js/select2.full.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>
        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/backstretch/jquery.backstretch.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/plugins/bootstrap-toastr/toastr.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="@ConfigurationManager.AppSettings["ResourceApi"]/assets/global/scripts/app.min.js?v=@ConfigurationManager.AppSettings["Version"]" type="text/javascript"></script>

        <script src="~/js/mainInit.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <script src="~/js/config/appsettings.js?v=@ConfigurationManager.AppSettings["Version"]&environment=@ConfigurationManager.AppSettings["Environment"]"></script>
        <script src="~/js/cache/cookies.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
        <script src="~/js/login/login.js?v=@ConfigurationManager.AppSettings["Version"]"></script>
    </body>
</hXtml>