@model List<Force.Model.ViewModel.Menu.ViewMenu>
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"> </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            @{
                foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a href="@item.Url" class="nav-link nav-toggle">
                            <i class="@item.MenuIcon"></i>
                            <span class="title">@item.MenuName</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        @{
                            if (item.Children.Count() > 0)
                            {
                                <ul class="sub-menu">
                                    @foreach (var subItem in item.Children)
                                    {
                                    <li class="nav-item">
                                        <a href="@subItem.Url" class="nav-link ">
                                            <i class="@subItem.MenuIcon"></i>
                                            <span class="title">@subItem.MenuName</span>
                                            <span class="selected"></span>
                                        </a>
                                        @{
                                            if (subItem.Children.Count() > 0)
                                            {
                                                <ul class="sub-menu">
                                                    @foreach (var subItem1 in subItem.Children)
                                                    {
                                                        <li class="nav-item">
                                                            <a href="@subItem1.Url" class="nav-link ">
                                                                <i class="@subItem1.MenuIcon"></i>
                                                                <span class="title">@subItem1.MenuName</span>
                                                                <span class="selected"></span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </li>
                                    }
                                </ul>
                            }
                        }
                    </li>
                }
            }
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
