@model Force.Model.SystemUser
@{ 
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><span>修改用户-@Model.NickName</span> </h4>
</div>
<div class="block">
    <div class="modal-body">
        <div class="row">
            <div id="msg-alert"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">昵称 ： </label>
                    <div class="col-md-9 form-group">
                        <input class="form-control name" value="@Model.NickName" placeholder="昵称" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">手机号 ： </label>
                    <div class="col-md-9 form-group">
                        <input class="form-control phone" value="@Model.Phone" placeholder="手机号" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">邮箱 ： </label>
                    <div class="col-md-9 form-group">
                        <input class="form-control email" value="@Model.Email" placeholder="@@xxx.com" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">密码 ： </label>
                    <div class="col-md-9 form-group">
                        <input class="form-control pwd" placeholder="不填不修改" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="title">是否启用 ： </label>
                    <div class="col-xs-9 form-group">
                        <select name="isUse" id="isUse" class="source-type bs-select form-control">
                            <option value="1" @(Model.Status == 1 ? "selected" : "")>是</option>
                            <option value="0" @(Model.Status == 0 ? "selected" : "")>否</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @Html.AntiForgeryToken()
        <input value="@Model.Id" data-code="@Model.Id" id="id" type="hidden" />
        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
        <button class="btn blue submit-data" type="button">保存</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".submit-data").click(function () {
            var name = $(".name").val();
            var phone = $(".phone").val();
            var email = $(".email").val();
            var isUse = $("#isUse").val();
            var pwd = $(".pwd").val();
            var id = $("#id").val();
             App.blockUI({
                target: '.block',
                boxed: true
            });
            if (name == "" || phone == "" || email == "") {
                App.unblockUI('.block');
                MetAlert("#msg-alert", "danger", "请将表单填写完整！");
                return false;
            }
            if (!(/^1[3|4|5|7|8][0-9]{9}$/.test(phone))) {

                App.unblockUI('.block');
                MetAlert("#msg-alert", "danger", "请输入正确的手机号码！");
                return false;
            }
            if (pwd.length > 0 && (pwd.length < 6 || pwd.length > 16)) {
                App.unblockUI('.block');
                MetAlert("#msg-alert", "danger", "密码长度不能少于6位大于16位！");
                return false;
            }
            if (!(/^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(email))) {

                App.unblockUI('.block');
                MetAlert("#msg-alert", "danger", "请输入正确的邮箱！");
                return false;
            }
            $.ajax({
                url: "/systemuser/edit",
                data: { __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),  name: name, phone: phone, email: email, isUse: isUse, pwd: pwd, id: id },
                dataType: "json",
                type: "post",
                success: function (result) {
                    App.unblockUI('.block');
                    if (result.code == 1) {
                        NotifyAlert("success", "修改成功啦~");
                        $('#ajax-modal').modal('hide')
                        _table_systemuser.api().ajax.reload(null, false);
                    } else {
                        if (result.msg) {
                            MetAlert("#msg-alert", "danger", result.msg);
                        } else {
                            MetAlert("#msg-alert", "danger", "修改失败！");
                        }
                    }
                }
            })

        });
    });
</script>

